Hardware/**/History
Hardware/**/Project Logs*
Hardware/**/Project Outputs*
Hardware/**/__Previews
Hardware/**/*.drc
Hardware/**/*.html
Hardware/**/*.WAS
Hardware/**/Output/*
!Hardware/**/Output/*.pdf

Hardware/CPLD/**/db
Hardware/CPLD/**/output_files
Hardware/CPLD/**/incremental_db
Hardware/CPLD/**/*.bak