Hardware/**/History
Hardware/**/Project Logs*
Hardware/**/Project Outputs*
Hardware/**/__Previews
Hardware/**/*.drc
Hardware/**/*.html
Hardware/**/*.WAS
Hardware/**/Output/*
!Hardware/**/Output/*.pdf

Hardware/CPLD/**/db
Hardware/CPLD/**/output_files
Hardware/CPLD/**/incremental_db
Hardware/CPLD/**/*.bak
Hardware/CPLD/**/*.rpt
Hardware/CPLD/**/*.summary
Hardware/CPLD/**/*.smsg
Hardware/CPLD/**/*.bin
Hardware/CPLD/**/*.pof
Hardware/CPLD/**/*.sof
Hardware/CPLD/**/*.rbf

TestService/FPGA/**/db
TestService/FPGA/**/output_files
TestService/FPGA/**/incremental_db
TestService/FPGA/**/*.bak
TestService/FPGA/**/*.rpt
TestService/FPGA/**/*.summary
TestService/FPGA/**/*.smsg
TestService/FPGA/**/*.bin
TestService/FPGA/**/*.pof
TestService/FPGA/**/*.sof
TestService/FPGA/**/*.rbf

Firmware/ESP32-S3/build
Firmware/ESP32-S3/build/*.old